<h4><%= @entrepreneur.first_name %>'s projects</h4>
<div id="entrepreneur_projects_list">
<ul>
	<% @entrepreneur.projects.each do |project| %>
	<li>
		<p><%= project.title %></p>
		<p><%= project.amount_raised %> dollars raised out of <%= project.fundraising_goal %></p>
		<% if current_user && current_user.role == 'admin' %>
			<p><%= link_to "Update this project", edit_entrepreneur_project_url(@entrepreneur, project), method: :get  %></p>
		<% end %>
	</li>
	<% end %>
</ul>
</div>
