<div class="add_payment">
	<a href="#payment_form" class="add_payment_link">Record New Payment</a>
	<form action="<%= payments_url %>" method="POST">
		<div id="payment_form" class="modalDialog">
			<div>				
					<a href="#close" title="Close" class="close">X</a>
					
					<div class="errors">
					</div>
					
					<h2>Add a Payment</h2>
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<label for="amount">Amount</label>
					<input id="amount" type="number" min="1" max="10000" name="payment[amount]">
					<br>
					<input name="payment[payer_id]" value="<%= project.entrepreneur.id %>" type="hidden">
					<p>Toward Loan:</p>
					<ul>
					<% project.loans.each do |loan| %>
						<% next if loan.paid_in_full? %>
						<li>
							<label for="loan-<%= loan.id %>">
								<%= "Loan #{loan.id} from #{loan.lender.full_name}." %>
							</label>
							<input id="loan-<%= loan.id %>" name="payment[loan_id]" type="radio" value="<%= loan.id %>">
							<div>
								<em><%= "$#{loan.amount_paid.to_f} repaid of $#{loan.amount_owed}." %>
								<%= "Made on #{loan.created_at.to_date} " %></em>
							</div>
						</li>
					<% end %>
					</ul>
					<input type="Submit" value="Save">
				</div>
		</div>
	</form>
</div>

<script type="text/javascript">
	
	$("input[type='submit']").on('click', function (event) {
		recordPayment(event);
	})
	
</script>