<div>
	<p>$<%= project.amount_raised %> raised. $<%= project.fundraising_goal %> needed.</p>
	<div class='meter'>
		<span id="project-<%= project.id %>" style="width: <%= project.progress_status %>%"></span>
	</div>
</div>


<script type="text/javascript">
	$(function () {
		var $progressSpan = $(".meter > span#project-<%= project.id %>")
		animateProgressBar($progressSpan);
	})
</script>
