<div>
	<p>$<%= project.amount_borrowed %> owed. $<%= project.amount_repaid %> repaid.</p>
	<div class='meter orange'>
		<span id="project-<%= project.id %>" style="width: <%= project.repayment_status %>%"></span>
	</div>
</div>


<script type="text/javascript">
$(function () {
	var $repaymentSpan = $(".meter > span#project-<%= project.id %>")
	animateProgressBar($repaymentSpan);
})
</script>