<div>
	<h4><%= update.title %></h4>
	<p>By <%= update.author.full_name %> on <%= update.created_at.to_date %></p>
	<p><%= update.body %></p>
	<% if user_is_admin? %>
	<%= button_to "Delete Update", update_url(update), method: :delete, confirm: "Delete this update?" %>
	<% end %>
</div>