<h1><%= @project.title %></h1>
<div><%= @project.entrepreneur.full_name %></div>
<div><%= @project.description %></div>


<% if @project.fully_funded? %>
	<h2>Repayment Status</h2>
	<%= render partial: "repayment_status", locals: { project: @project } %>
<% else %>
	<h2>Progress Status</h2>
	<%= render partial: "progress_status", locals: { project: @project } %>
<% end %>


<%= render partial: "updates", locals: { project: @project, updates: @updates } %>