<h1><%= @project.title %></h1>
<div><%= @entrepreneur.full_name %></div>
<div><%= @project.description %></div>


<%= render partial: "projects/project_status", locals: { project: @project } %>

<%= render partial: "projects/new_loan", locals: { project: @project } if user_is_admin? %>

<%= render partial: "projects/updates", locals: { project: @project, updates: @updates } %>